:root{
    --maincolor: #4a4950;
    --mainhover: #ebe4e492;
    --button: #888584;
    --headingcolor: #e5dede; 
}

* {
    box-sizing: border-box;
    line-height: 1.5em;
}

/* navbar */

.navbar {
    background-color: var(--maincolor);
}

.name {
    padding: 0.5rem;
    font-size: 1.75rem;
    font-family: monaco;
}

.nav-item {
    font-family: monaco;
}

/* main & body of content */
.pfp {
    scale: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding: 0.5em;
    font-family: monaco;
}

h2{
    color: var(--headingcolor);
    font-family: monaco;
}

h1,h2,h3 {
    padding-bottom: 10px;
    font-weight: bold;
}

section > h2 {
    color: var(--maincolor);
    text-indent: 0.6em;
}

body {	
	background: linear-gradient(to bottom, #B721FF, #2AF598, #fec051, #FEE140, #FA709A );
	background-size: 100%;
	background-repeat: no-repeat;
    margin: 0;
	font-size: 1.15rem;
	line-height: 1.4em;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom, rgba(255,255,255,0.2), #dcbcac 75%);
}


html {
	margin: 0;
	font-family: sans-serif, serif;
	text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

main {
	background-color: #f7f7f7;
	padding: 20px;
	border-radius: 10px;
	color: var(--maincolor);
	margin: 40px;
    padding: 1% 2.5%;
    line-height: 1.5em;
}

.divider{
    border-top: 2px dashed var(--button);
    margin: 20px;
}

.cardlist {
    width: 18rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icons {
  width: 1.5rem;
  margin: 0.25rem;
  /* color: var(--maincolor); - doesn't work with FA icons*/
}

/* Animations */

article {
    animation: fade-left 1s ease-in; 
}

.fadein-f {
    animation: fade-left 0.5s ease-in;
}

.fadein-s {
    animation: fade-left 0.75s ease-in;
}


/* cards (articles) */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 15em;
  }

  .card {
    max-width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    transition: transform 200ms;
  } 

  .card:hover{
    transform: scale(1.03);
    transition: 100ms linear;
    transition-duration: 100ms;
}

  .card img {
    max-width: 100%;
  }
  .card .text {
    padding: 0 20px 20px;
  }
  .card .text > button {
    background: var(--button);
    border: 0;
    color: white;
    padding: 5px;
    width: 100%;
    }

  .card:nth-child(1) {
    width: 90%;
    min-width: 300px;
    max-width: 500px;
  }

button {
    transition: 200ms;
}

/* contact form */

input[type=text], select, textarea {
    width: 100%; 
    background-color: var(--headingcolor);
    padding: 12px; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: var(--button);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms;
  }
  
  button:hover, input[type=submit]:hover {
    transform: scale(1.1);
    transition: 100ms linear;
    transition-duration: 100ms;
  }

.container {
    border-radius: 5px;
    padding: 20px;
  }

footer {
    color: var(--maincolor); 
    font-size: 0.7em;
    text-align: center;
    margin: 40px;
}

/* Responsive layouts for smaller screen sizes */

@media screen and (max-width:650px){
      .cards 
      {justify-content: center !important;}
    }

@media screen and (max-width:560px){
    /* hide sidebar in smaller screens & change to a top bar instead */
    aside {display: none;}
    main {margin: 20px}
    footer {margin: 0;}

    nav {
        /* important marker to override the previous display:none for desktop devices */
        display: flex !important;
        float: top;
        justify-content: center !important;
        text-decoration: none;
        flex-wrap: wrap;
        background-color: var(--maincolor);
        padding: 20px;
    }

    .mobile a{
        display: flex;
        text-decoration: none;
        padding: 6px 8px 6px 16px;
        font-size: 0.9em;
        font-weight: bold;
        color: var(--headingcolor);
    }

    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

    .card{
        max-width: 80%;
    }

    .card:nth-child(1) {
        min-width: 100% !important;
      }
}

/* animations continued */

@keyframes fade-left {
    0% {
      transform: translateX(-30px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }